* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr / 1fr / 1fr;
}
.body-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr / 1fr / 1fr;
    justify-items: center;
}
h1 {
    font-size: 3rem;
    grid-row: 1;
    grid-column: 1;
}
h2 {
    font-size: 2rem;
    grid-column: 1;
    grid-row: 2 / 2;
}















































