body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1 {
    font-size: 3rem;
    flex-basis: 100%;
}
h2 {
    font-size: 2rem;
}















































